h2{
    color: blue;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.explain{
    color: darkred;
    margin-top: 40px;
    font-size: 20px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#myform p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}
#myform{
    padding-top: 30px;
    text-align: center;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}